body{
    margin:0;
    padding:0;
    background:#ffe;
    font-size:14px;
    font-family:'微软雅黑','宋体',sans-serif;
    color:#231F20;
    overflow:auto;
}

a{
    color:#000;
    font-size:14px;
}

#main{
    width:100%;
}

#wrap{
    position:relative;
    margin:0 auto;
    width:1100px;
    height:680px;
    margin-top:10px;
}

/* TEXT AREA */
#text{
    width:272px;
    height:560px;
    left:188px;
    top:80px;
    position:absolute;
}

#code{
    display:none;
    font-size:16px;
    line-height:28px;
}

/* CANVAS */
#canvas{
    margin:0 auto;
    width:1100px;
    height:680px;
}

/* ERROR MESSAGE */
#error{
    margin:0 auto;
    text-align:center;
    margin-top:60px;
    display:none;
}

/* CURSOR WHEN HOVER SEED */
.hand{
    cursor:pointer;
}

/* TEXT STYLE */
.say{
    margin-left:5px;
}

.space{
    margin-right:150px;
}
